<head>
      <link rel="icon" href="http://example.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>
      <div class="title">shares</div></br>
</body>

<div class="box1">
      <%= image_tag asset_path("rogo.jpg") %>
</div>

<div class="box2">
      <%= image_tag asset_path("top1.jpg") %>
</div>

<div class="box3">
      <%= image_tag asset_path("about1.jpg") %>
</div>
