// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*＝＝＝＝＝＝＝＝＝top画面*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
 body {
  /* 画像ファイルの指定 */
  background-color: #97e4e4;
  margin: 0;
}

.box2{
  background-size: auto;
}


/*＝＝＝＝＝＝＝＝＝＝about画面 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

 .field1{
   display: flex;
   justify-content: space-around;

 }

 .about-title{
   font-size: 30px;
   text-align: center;
   margin: 20px 0px;
 }

p{
    margin: 10px 0px;
}

 .about-content{
   text-align: center;
   margin-top: 10%;
 }

 .about-content p {
   font-size: 2rem;
   margin: 10px 0 42px;
 }

.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home{
  background-image: image-url("about.jpg");
  min-height: 50vh;
}

#home.page-title{
  text-transform: none;
}

.item{
    width: 50%;
}

