// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}


ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

.posts-table{
  text-align: center;
  font-size: 15px;
  border-spacing: 20px 20px;
}

.posttitle{
  font-size: 25px;
  margin-bottom: 25px;
  font-family: cursive;
}

.postline{
  font-size: 13px;
}

.row {
  font-family: serif;
  margin-bottom: 20px;
}

.post_rank{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: end;
  font-size: 13px;
  font-family: cursive;
  margin-bottom: 200px;
}

.ranktitle{
  font-size: 25px;
  font-family: cursive;
}

.newpost_title{
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  font-family: cursive;
}

.col-md-12{
  text-align: center;
}

.btn--orange {
  color: #fff;
  background-color: #d5ecc2 !important;
  border-bottom: 5px solid #b84c00;
}
.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.col-md-7{
  border-radius: 0.5rem;
  border: 2px solid #bbbbbb;
}

.col-md-4{
  margin-top: 20px;
}

/*--------------------------------投稿詳細-------------------------*/

.show_title{
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.postshowimage{
  margin-left: 50px;
  margin-bottom: 30px;
}

.showfavorite-btn{

}

.btn-btn-success{
    margin-bottom: 50px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    box-shadow: 4px 4px 0 #000;
    width: 100px;
    height: 40px;
    font-siza: 20px !important;
    text-align: center;
    float: left;
    margin: 10px;
}


textarea#post_comment_comment{
  height: 100px;
  border-radius: 6px;
  border: 2px solid #bbbbbb;
}

.col-md-6{
  p{
    font-size: 20px;
  }
}

.text-center{
  .btn-btn-success{
    margin-bottom: 50px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    box-shadow: 4px 4px 0 #000;
    width: 100px;
    height: 40px;
    font-siza: 20px !important;
    text-align: center;
    float: left;
    margin: 10px;
    margin-left: 480px;
  }
}

.pagination{
  font-size: 15px !important;
  margin-left: 650px !important;
  margin-bottom: 30px !important;
}

.comment2{
  margin-top: -19px;
  margin-left: 30px;
  margin-bottom: 20px;
}