// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showtitle{
  font-size: 30px;
  font-family: Courier;
}

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

img.attachment.user.profile_image{
  border-radius: 50%;
}

.font-weight-bold{
  h3{
    font-family: cursive !important;
  }
}

.show_list{
  display: flex;
  justify-content: space-evenly;
}

.user_edit_title{
  font-size: 25px;
  font-family: Courier;
}

.edit_ok{
    margin-bottom: 50px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    box-shadow: 4px 4px 0 #000;
    width: 100px;
    height: 40px;
    font-siza: 20px !important;
    font-family: cursive;
    text-align: center;
    margin-left: 325px;
}
